@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* DECLARATIONS */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME VARIABLES */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

.admin-dashboard-parent {
  /* ROOT VARIABLES */
  /* START SIDEBAR============================= */
  /* END SIDEBAR */
  /* END ASIDE */
  /* START RIGHT SECTION */
  /* END SALES ANALYTICS */
  /* END RIGHT SECTION */
  /* START MEDIA QUERIES */
  /* TABLETS AND SMALL LAPTOPS */
  /* SMALL TABLETS AND MOBILE */
  /* END MEDIA QUERIES */
}
.admin-dashboard-parent .container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 18rem auto;
}
.admin-dashboard-parent a {
  color: var(--color-dark);
}
.admin-dashboard-parent img {
  display: block;
  width: 100%;
}
.admin-dashboard-parent h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
.admin-dashboard-parent h2 {
  font-size: 1.4rem;
}
.admin-dashboard-parent h3 {
  font-size: 14px;
}
.admin-dashboard-parent h4 {
  font-size: 0.8rem;
}
.admin-dashboard-parent h5 {
  font-family: 0.77rem;
}
.admin-dashboard-parent small {
  font-size: 0.75rem;
}
.admin-dashboard-parent .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.admin-dashboard-parent .text-muted {
  color: var(--color-info-dark);
}
.admin-dashboard-parent p {
  color: var(--color-dark-variant);
}
.admin-dashboard-parent b {
  color: var(--color-dark);
}
.admin-dashboard-parent .primary {
  color: var(--color-primary);
}
.admin-dashboard-parent .danger {
  color: var(--color-danger);
}
.admin-dashboard-parent .success {
  color: var(--color-success);
}
.admin-dashboard-parent .warning {
  color: var(--color-warning);
}
.admin-dashboard-parent .aside-parent {
  background: #1A1A1A;
  padding: 20px 0;
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .aside-parent {
    background: #1A1A1A;
    padding: 0;
  }
}
.admin-dashboard-parent .aside-parent aside .top .coloumn {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .aside-parent aside .top .coloumn .logo {
    padding-top: 20px;
  }
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .logo img {
  width: 100%;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding-top: 60px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .list {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 0 15px;
  transition: 0.8s;
  cursor: pointer;
  border-radius: 12px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .list i {
  color: white;
  font-size: 20px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .list h1 {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .list:hover {
  background: rgba(255, 122, 95, 0.862745098);
  border-radius: 12px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card {
  background: white;
  display: flex;
  padding: 40px 10px;
  margin-top: 80px;
  border-radius: 27px;
  justify-content: center;
  position: relative;
  box-shadow: 0px 26px 0px -11px #f5f5f5, 0px 47px 0px -17px #f0f0f0;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .icon-fire {
  width: 50%;
  margin: auto;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .icon-fire img {
  width: 100%;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .text h1 {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .text p {
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 10px;
  color: #8E97A6;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .order-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: #FF7B5F;
  border-radius: 12px;
  gap: 0 10px;
  transition: 0.8s;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .order-button input {
  background: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  font-size: 16px;
  padding: 15px 0;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .order-button:hover {
  background: rgba(255, 122, 95, 0.862745098);
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .cross {
  position: absolute;
  top: 20px;
  right: 20px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card .items .cross i {
  color: black;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .card:hover {
  background: white;
  border-radius: 27px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .nav-list .list:focus {
  background: #FF7B5F;
  padding: 10px;
  border-radius: 8px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .close {
  display: none;
  position: absolute;
  right: 13px;
  top: 28px;
}
.admin-dashboard-parent .aside-parent aside .top .coloumn .close span {
  color: white;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .aside-parent aside .top .coloumn .close {
    display: block;
  }
}
.admin-dashboard-parent .main-section-parent {
  display: grid;
  background: #F2F3F9;
  position: relative;
  /* START MAIN */
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .main-section-parent {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent {
    margin-top: -88px;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search {
  display: flex;
  background: white;
  padding: 20px 30px;
  gap: 0 30px;
  align-items: center;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search {
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    gap: 20px 0;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .title {
  font-family: "Poppins", sans-serif;
  color: #1A202C;
  font-weight: 600;
  font-size: 24px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar {
  display: flex;
  width: 60%;
  gap: 0 10px;
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar {
    width: 100%;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar input {
  width: 100%;
  background: #E5E7EB;
  padding: 15px 20px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: #8E97A6;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar input::-moz-placeholder {
  color: #8E97A6;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar input::placeholder {
  color: #8E97A6;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar .img {
  display: flex;
  align-items: center;
  background: #FF7B5F;
  padding: 10px 15px;
  border-radius: 8px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .search .search-bar .img img {
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
  gap: 20px;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid {
    grid-template-columns: 1fr;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards {
  padding: 30px 30px;
  border-radius: 8px;
  background: white;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards .card {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards .card .icon {
  background: #FEF3F1;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 80px;
  align-items: center;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards .card .icon i {
  color: #FF7B5F;
  font-size: 22px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards .card .text h1 {
  font-weight: 700;
  font-size: 22px;
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .cards-grid .cards .card .text p {
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #8E97A6;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
  gap: 20px;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts {
    grid-template-columns: 1fr;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .chart-title {
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #464255;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select {
  position: relative;
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .select-box {
  border: 1px solid #B9BBBD;
  width: 100%;
  border-radius: 80px;
  padding: 5px 15px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.14);
  font-weight: 400;
  font-size: 16px;
  color: #1F2937;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .select-box .icon img {
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .select-box .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .select-box span {
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .select-box i {
  font-size: 16px;
  color: #FF7B5F;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 0px 5px;
  border-top: none;
  display: none;
  background: white;
  border-radius: 8px;
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .options .option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .options .option span {
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .custom-select .options .option:hover {
  background-color: #f0f0f0;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week i {
  font-size: 16px;
  color: #B9BBBD;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .years {
  display: flex;
  align-items: center;
  gap: 20px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .years div {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .charts-card .flex .week .years div span {
  font-weight: 500;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: #A3A3A3;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .charts .chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 20px 40px;
  gap: 20px;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req {
    grid-template-columns: 1fr;
  }
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title {
  display: flex;
  justify-content: space-between;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title h1 {
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select {
  position: relative;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .select-box {
  border: 1px solid #B9BBBD;
  width: 100%;
  border-radius: 80px;
  padding: 5px 15px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.14);
  font-weight: 400;
  font-size: 16px;
  color: #1F2937;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .select-box .icon img {
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .select-box .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .select-box span {
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .select-box i {
  font-size: 16px;
  color: #FF7B5F;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 0px 5px;
  border-top: none;
  display: none;
  background: white;
  border-radius: 8px;
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .options .option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .options .option span {
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .title .custom-select .options .option:hover {
  background-color: #f0f0f0;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0 20px;
  padding: 20px 0;
  place-content: center;
  place-items: center;
  border-bottom: 1px solid whitesmoke;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .title-card h1 {
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .title-card span {
  font-weight: 500;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #FF7B5F;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .name h1 {
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .name span {
  font-weight: 500;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #8C8888;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .price {
  display: flex;
  gap: 0 10px;
  align-items: center;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .price span {
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .button input {
  background: #FFE5DE;
  color: #FF7B5F;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .req .card .deliver input {
  background: #E9F9EE;
  color: #4FCB71;
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border-radius: 4px;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .title h1 {
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card {
  display: flex;
  gap: 0 10px;
  padding: 20px 0;
  border-bottom: 1px solid whitesmoke;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .img img {
  width: 100%;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .title-trending {
  display: flex;
  justify-content: space-between;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .title-trending h1 {
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .title-trending h3 {
  font-weight: 600;
  font-size: 16px;
  color: #202020;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .title-trending .code {
  font-weight: 600;
  font-size: 16px;
  color: #FF7B5F;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .main-section-parent .main-section-mid-parent main .recent-order-req .daily-trending .card .title-trending .x {
  font-weight: 600;
  font-size: 12 px;
  color: #8E97A6;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .right-parent .right {
  margin-top: 1.4rem;
  padding-right: 45px;
  position: absolute;
  /* left: revert; */
  right: 0;
  top: 0;
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .right-parent .right {
    padding-right: 0;
  }
}
.admin-dashboard-parent .right-parent .right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.admin-dashboard-parent .right-parent .right .top button {
  display: none;
}
@media only screen and (max-width: 1060px) {
  .admin-dashboard-parent .right-parent .right .top button {
    display: block;
  }
}
.admin-dashboard-parent .right-parent .right .users-login {
  display: flex;
  align-items: center;
  gap: 0 10px;
  /* Modal Styles */
}
.admin-dashboard-parent .right-parent .right .users-login .cart img {
  width: 100%;
}
.admin-dashboard-parent .right-parent .right .users-login .cart i {
  font-size: 18px;
  display: none;
}
@media only screen and (max-width: 992px) {
  .admin-dashboard-parent .right-parent .right .users-login .cart i {
    display: block;
  }
}
.admin-dashboard-parent .right-parent .right .users-login .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 0px 38px 0px rgba(44, 43, 43, 0.5568627451);
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  border-radius: 8px;
  margin: auto;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .heading h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1A202C;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .heading .mark {
  color: #FF7B5F;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent {
  padding-top: 20px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tabs-container {
  width: 100%;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tabs-header {
  border: 1px solid #FF7B5F;
  border-radius: 8px;
  /* display: flex; */
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent #tab0 {
  background: #FF7B5F;
  border-radius: 7px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent #tab0 h1 {
  color: white;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #FE724E;
  border-bottom: none;
  background: none;
  text-align: center;
  transition: 0.8s;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab h1 {
  font-size: 16px;
  color: #8E97A6;
  transition: 0.8s;
  cursor: pointer;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content {
  padding-top: 20px;
  padding-bottom: 40px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .title h1 {
  font-weight: 600;
  font-size: 20px;
  color: #323142;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card {
  display: flex;
  margin-top: 20px;
  gap: 0 10px;
  align-items: center;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 12px;
  transition: 0.8s;
  cursor: pointer;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .img {
  position: relative;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .img img {
  width: 100%;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .img .del img {
  width: 30%;
  position: absolute;
  top: 0;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .name-price {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .name-price h1 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .name-price h1 span {
  color: #FF7B5F;
  font-size: 14px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .increment {
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding: 5px 0;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .increment button {
  border: none;
  background: white;
  height: 10px;
  width: 10px;
  padding: 10px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .increment button i {
  color: #8E97A6;
  font-size: 14px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .increment span {
  color: #FF7B5F;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .on-the-way span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .on-the-way p {
  font-size: 12px;
  color: #323142;
  font-family: "Poppins", sans-serif;
  color: #ACADB9;
  padding-top: 2px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .time {
  display: flex;
  justify-content: end;
  margin-right: -40px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card .detail .time p {
  color: #ACADB9;
  font-size: 12px;
  margin-right: -60px;
  font-family: "Poppins", sans-serif;
  color: #ACADB9;
  padding-top: 2px;
}
.admin-dashboard-parent .right-parent .right .users-login .modal-content .tabs-div .tabs-parent .tab-content .cart-card:hover {
  background: #ffffff;
  box-shadow: 0 35px 23px -13px #ededed;
}
.admin-dashboard-parent .right-parent .right .users-login .close-btn {
  cursor: pointer;
  font-size: 20px;
}
.admin-dashboard-parent .right-parent .right .users-login .login-button {
  display: flex;
  align-items: center;
  background: #FAFAFA;
  padding: 5px 20px;
  border-radius: 80px;
  gap: 0px;
  cursor: pointer;
}
.admin-dashboard-parent .right-parent .right .users-login .login-button .userimg {
  height: 20px;
  width: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
}
.admin-dashboard-parent .right-parent .right .users-login .login-button .userimg i {
  font-size: 18px;
}
.admin-dashboard-parent .right-parent .right .users-login .login-button input {
  background: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1A202C;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .admin-dashboard-parent aside .logo h2 {
    display: none;
  }
  .admin-dashboard-parent aside .sidebar h3 {
    display: none;
  }
  .admin-dashboard-parent aside .sidebar a {
    width: 5.6rem;
  }
  .admin-dashboard-parent aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  .admin-dashboard-parent main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .admin-dashboard-parent main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  .admin-dashboard-parent main .recent-orders table {
    width: 83vw;
  }
  .admin-dashboard-parent main .recent-orders table thead tr th:first-child,
  .admin-dashboard-parent main .recent-orders table thead tr th:last-child {
    display: none;
  }
  .admin-dashboard-parent main .recent-orders table tbody tr td:first-child,
  .admin-dashboard-parent main .recent-orders table tbody tr td:last-child {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  .admin-dashboard-parent .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .admin-dashboard-parent aside {
    position: fixed;
    left: -100%;
    background: #1A1A1A;
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: -100%;
    }
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  .admin-dashboard-parent aside .logo {
    margin-left: 1rem;
  }
  .admin-dashboard-parent aside .logo h2 {
    display: inline;
  }
  .admin-dashboard-parent aside .sidebar h3 {
    display: inline;
  }
  .admin-dashboard-parent aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  .admin-dashboard-parent aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  .admin-dashboard-parent aside .close {
    display: inline-block;
    cursor: pointer;
  }
  .admin-dashboard-parent main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  .admin-dashboard-parent main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .admin-dashboard-parent main .recent-orders table {
    width: 100%;
    margin: 0;
  }
  .admin-dashboard-parent .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .admin-dashboard-parent .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .admin-dashboard-parent .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .admin-dashboard-parent .right .top .profile .info {
    display: none;
  }
  .admin-dashboard-parent .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .admin-dashboard-parent .right .top button span {
    font-size: 2rem;
  }
}/*# sourceMappingURL=admin-dashboard.css.map */