@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './media.scss';

/* DECLARATIONS */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME VARIABLES */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* STYLES */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: white;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.selectedfood-dashboard-parent {
    /* ROOT VARIABLES */

    .container {
        display: grid;
        width: 100%;
        margin: 0 auto;
        gap: 2.8rem;
        grid-template-columns: 18rem auto 24rem;
    }

    a {
        color: var(--color-dark);
    }

    img {
        display: block;
        width: 100%;

    }

    h1 {
        font-weight: 800;
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 0.8rem;
    }

    h5 {
        font-family: 0.77rem;
    }

    small {
        font-size: 0.75rem;
    }

    .profile-photo {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .text-muted {
        color: var(--color-info-dark);
    }

    p {
        color: var(--color-dark-variant);
    }

    b {
        color: var(--color-dark);
    }

    .primary {
        color: var(--color-primary);
    }

    .danger {
        color: var(--color-danger);
    }

    .success {
        color: var(--color-success);
    }

    .warning {
        color: var(--color-warning);
    }




    /* START SIDEBAR============================= */
    .aside-parent {
        background: #1A1A1A;
        padding: 20px 0;

        @include lg {
            background: #1A1A1A;
            padding: 0;
        }

        aside {
            .top {
                .coloumn {
                    width: 80%;
                    margin: auto;

                    .logo {
                        @include lg {
                            padding-top: 20px;
                        }

                        img {
                            width: 100%;
                        }

                    }

                    .nav-list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;
                        padding-top: 60px;

                        .list {
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            gap: 0 15px;
                            transition: .8s;
                            cursor: pointer;
                            border-radius: 12px;

                            i {
                                color: white;
                                font-size: 20px;
                            }

                            h1 {
                                font-size: 18px;
                                color: #FFFFFF;
                                font-weight: 600;
                                font-family: 'Poppins', sans-serif;
                            }
                        }

                        .list:hover {
                            background: #ff7a5fdc;
                            border-radius: 12px;
                        }

                        .card {
                            background: white;
                            display: flex;
                            padding: 40px 10px;
                            margin-top: 80px;
                            border-radius: 27px;
                            justify-content: center;

                            position: relative;
                            box-shadow: 0px 26px 0px -11px #f5f5f5, 0px 47px 0px -17px #f0f0f0;

                            .items {

                                .icon-fire {
                                    width: 50%;
                                    margin: auto;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .text {
                                    h1 {
                                        color: black;
                                        text-align: center;
                                        font-size: 16px;
                                        font-weight: 800;
                                        padding-top: 20px;
                                        font-family: 'Poppins', sans-serif;

                                    }

                                    p {
                                        text-align: center;
                                        font-size: 14px;
                                        font-family: 'Poppins', sans-serif;
                                        text-align: center;
                                        padding-top: 10px;
                                        color: #8E97A6;
                                    }
                                }

                                .order-button {
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 20px;
                                    background: #FF7B5F;
                                    border-radius: 12px;
                                    gap: 0 10px;
                                    transition: .8s;

                                    input {
                                        background: none;
                                        cursor: pointer;
                                        color: white;
                                        font-weight: 600;
                                        border-radius: 12px;
                                        font-size: 16px;
                                        padding: 15px 0;
                                        border-radius: 12px;
                                        font-family: 'Poppins', sans-serif;
                                    }
                                }

                                .order-button:hover {
                                    background: #ff7a5fdc;
                                }

                                .cross {
                                    position: absolute;
                                    top: 20px;

                                    right: 20px;

                                    i {
                                        color: black;
                                    }
                                }
                            }
                        }

                        .card:hover {
                            background: white;
                            border-radius: 27px;
                        }

                        .list:focus {
                            background: #FF7B5F;
                            padding: 10px;
                            border-radius: 8px;
                        }
                    }


                    .close {
                        display: none;
                        position: absolute;
                        right: 13px;
                        top: 28px;

                        span {
                            color: white;
                        }

                        @include lg {
                            display: block;
                        }
                    }
                }
            }

        }

    }





    /* END SIDEBAR */
    /* END ASIDE */





    /* START MAIN */
    .main-section-mid-parent {
        @include lg {
            margin-top: -88px;

        }

        main {
            padding-top: 25px;

            .search {
                display: flex;
                gap: 0 30px;
                align-items: center;

                @include lg {
                    flex-direction: column;
                    gap: 20px 0;
                }

                .title {
                    font-family: 'Poppins', sans-serif;
                    color: #1A202C;
                    font-weight: 600;
                    font-size: 24px;
                }

                .search-bar {
                    display: flex;
                    width: 60%;
                    gap: 0 10px;

                    @include lg {
                        width: 100%;
                    }

                    input {
                        width: 100%;
                        background: #F5F5F5;
                        padding: 15px 20px;
                        border-radius: 8px;
                        font-family: 'Poppins', sans-serif;
                        color: #ACADB9;
                    }

                    input::placeholder {
                        color: #ACADB9;
                    }

                    .img {
                        display: flex;
                        align-items: center;
                        background: #FF7B5F;
                        padding: 10px 15px;
                        border-radius: 8px;

                        img {
                            width: 100%;
                        }
                    }
                }

            }

            //   IMAGE GALLERY

            .full-detail-grid {

                gap: 0 30px;
                padding-top: 40px;

                @include lg {
                    grid-template-columns: 1fr;
                    gap: 20px 0;
                }

                .full-detail {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    gap: 0 10px;

                    height: 100%;
                    margin: auto;

                    // GALLERY START==============
                    #mainDiv {
                        text-align: center;
                        width: 100%;
                        border-radius: 0px 0px 35px 35px;
                    }

                    #imageGallery {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px 0;

                        img {
                            width: 100%;
                            border-radius: 8px;
                        }
                    }
                }



            }

            // DISH DETAIL CSS=============


            .dish-detail {
                .title-review {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    justify-content: space-between;

                    .flex {
                        display: flex;
                        align-items: center;
                        gap: 0 40px;

                        .title {
                            h1 {
                                font-size: 25px;
                                font-weight: 600;
                                color: #323142;
                                font-family: 'Poppins', sans-serif;


                            }
                        }

                        .star {
                            i {
                                color: #FF7A28;
                                font-size: 16px;
                            }
                        }

                        .review {
                            font-weight: 400;
                            font-size: 16px;
                            color: #8E97A6;
                            font-family: 'Poppins', sans-serif;
                        }
                    }


                    // ICREMENT DCREMENT =======================

                    .increment {
                        display: flex;
                        align-items: center;
                        gap: 0 10px;
                        padding: 5px 0;

                        button {
                            border: none;
                            background: white;
                            height: 10px;
                            width: 10px;
                            padding: 10px;
                            border-radius: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            i {
                                color: #8E97A6;
                                font-size: 14px;
                            }
                        }

                        span {
                            color: #FF7B5F;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 500;

                        }
                    }
                }

                // DESCRIPTION=============================

                .description {
                    .title {
                        padding-top: 20px;

                        h1 {
                            font-size: 500;
                            font-size: 17px;
                            color: #323142;
                            font-family: 'Poppins', sans-serif;
                        }

                        p {
                            font-weight: 400;
                            font-family: 'Poppins', sans-serif;
                            color: #ACADB9;
                            font-size: 18px;
                            padding-top: 10px;


                        }

                        .img {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .pic {
                                padding-top: 10px;
                                width: 50%;

                                img {
                                    width: 100%;
                                }
                            }

                            .buttons {
                                display: flex;
                                gap: 0 20px;

                                .size {
                                    padding: 10px 20px;
                                    background: #C2C3CB;
                                    border-radius: 8px;
                                    transition: .8s;

                                    span {
                                        font-weight: 500;
                                        font-size: 20px;
                                        transition: .8s;
                                        font-family: 'Poppins', sans-serif;

                                    }

                                    &:hover {
                                        background: #FF7B5F;

                                        span {
                                            color: white;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

                // ADD TO CART BUTTON==================

                .add-cart {
                    padding-top: 40px;

                    input {
                        padding: 10px 20px;
                        background: #FF7B5F;
                        color: #FFFFFF;
                        font-weight: 500;
                        border-radius: 4px;
                        font-size: 16px;
                        font-family: 'Poppins', sans-serif;
                    }
                }


                // SIDEBAR CHECKOUT CSS=================

                .sidebar {
                    position: fixed;
                    padding: 20px 30px;
                    overflow: scroll;
                    top: 0;
                    right: -400px;
                    /* Initial position off-screen */
                    width: 400px;
                    height: 100%;
                    background-color: #fff;
                    /* Set your desired background color */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    transition: right 0.3s ease;

                    /* Transition for smooth sliding effect */
                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h1 {
                            font-size: 24px;
                            display: flex;
                            align-items: center;
                            gap: 0 10px;
                            font-weight: 700;
                            font-family: 'Poppins', sans-serif;

                            span {
                                color: #626264;
                                font-weight: 400;
                                font-size: 12px;

                            }


                        }

                        .close-btn {

                            cursor: pointer;
                            padding: 5px 15px;
                            border-radius: 8px;
                            background: #F7F7F7;
                            font-size: 24px;
                        }
                    }

                    .deliver {
                        padding-top: 30px;

                        .title-deliver {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                font-weight: 500;
                                font-size: 12px;
                                color: #FB6D3A;
                                font-family: 'Poppins', sans-serif;

                            }
                        }

                        .para {
                            p {
                                padding-top: 5px;
                                font-size: 16px;
                                color: #182135;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 500;
                            }
                        }
                    }

                    .cart-parent {
                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-top: 40px;

                            h1 {
                                font-size: 18px;
                                color: #323142;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 700;
                            }

                            a {
                                text-decoration: none;

                                input {
                                    background: none;
                                    border: none;
                                    color: #ACADB9;
                                    cursor: pointer;
                                    font-size: 16px;
                                    font-family: 'Poppins', sans-serif;
                                }
                            }
                        }

                        .cards-all-order {
                            .cart-card {
                                display: flex;
                                margin-top: 20px;
                                gap: 0 10px;
                                align-items: center;
                                background: #F2F3F9;
                                padding: 10px;
                                border-radius: 12px;
                                transition: .8s;
                                cursor: pointer;

                                .img {
                                    position: relative;

                                    img {
                                        width: 100%;
                                    }

                                    .del {
                                        img {
                                            width: 30%;
                                            position: absolute;
                                            top: 0;
                                        }
                                    }
                                }

                                .detail {
                                    .name-price {
                                        display: flex;
                                        justify-content: space-between;
                                        gap: 0 20px;

                                        h1 {
                                            font-size: 16px;
                                            font-weight: 600;
                                            font-family: 'Poppins', sans-serif;

                                            span {
                                                color: #FF7B5F;
                                                font-size: 14px;
                                            }
                                        }
                                    }

                                    .increment {
                                        display: flex;
                                        align-items: center;
                                        gap: 0 10px;
                                        padding: 5px 0;

                                        button {
                                            border: none;
                                            background: white;
                                            height: 10px;
                                            width: 10px;
                                            padding: 10px;
                                            border-radius: 80px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            cursor: pointer;

                                            i {
                                                color: #8E97A6;
                                                font-size: 14px;
                                            }
                                        }

                                        span {
                                            color: #FF7B5F;
                                            font-family: 'Poppins', sans-serif;
                                            font-weight: 500;

                                        }
                                    }

                                    .on-the-way {
                                        span {
                                            font-size: 14px;
                                            font-family: 'Poppins', sans-serif;
                                            color: #ACADB9;
                                        }

                                        p {
                                            font-size: 12px;
                                            color: #323142;
                                            font-family: 'Poppins', sans-serif;
                                            color: #ACADB9;
                                            padding-top: 2px;
                                        }
                                    }
                                }
                            }

                            .cart-card:hover {
                                background: #ffffff;
                                box-shadow: 0 35px 23px -13px #ededed;
                            }

                            .checkout {
                                padding-top: 20px;

                                input {
                                    width: 100%;
                                    border: none;
                                    cursor: pointer;
                                    background: none;
                                    text-align: center;
                                    background: #FF7B5F;
                                    padding: 15px;
                                    color: white;
                                    border-radius: 25px;
                                    font-size: 16px;
                                    font-family: 'Poppins', sans-serif;
                                    transition: .8s;

                                }
                            }

                            input:hover {
                                background: #ff7a5fdc;
                            }

                            .add-more {
                                padding-top: 20px;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 0 10px;

                                i {
                                    font-size: 16px;
                                    cursor: pointer;
                                    color: #FF7B5F;
                                }

                                p {
                                    font-size: 600;
                                    font-size: 16px;
                                    color: #FF7B5F;
                                    cursor: pointer;
                                    font-family: 'Poppins', sans-serif;
                                }
                            }

                            .deleiver-promo {
                                padding-top: 40px;

                                .dleivery {
                                    padding-top: 20px;
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    gap: 0 10px;

                                    .img {
                                        width: 50%;

                                        img {
                                            width: 100%;
                                        }





                                    }

                                    .text {

                                        h1 {
                                            font-size: 18px;
                                            font-weight: 700;
                                            font-family: 'Poppins', sans-serif;
                                            color: #182135;

                                        }

                                        p {
                                            font-size: 14px;
                                            font-weight: 400;
                                            font-family: 'Poppins', sans-serif;
                                            color: #626264;
                                        }
                                    }

                                    .add-text {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        h1 {
                                            font-size: 18px;
                                            font-weight: 700;
                                            font-family: 'Poppins', sans-serif;
                                            color: #182135;

                                        }

                                        p {
                                            font-size: 14px;
                                            font-weight: 400;
                                            font-family: 'Poppins', sans-serif;
                                            color: #626264;
                                        }
                                    }
                                }
                            }
                        }



                    }

                    .checkout {
                        padding-top: 40px;

                        input {
                            padding: 15px;
                            background: #FF7B5F;
                            color: white;
                            width: 100%;
                            border-radius: 8px;
                            font-weight: 500;
                            font-size: 12px;
                            font-family: 'Poppins', sans-serif;

                        }
                    }
                }

                .sidebar.open {
                    right: 0;
                    /* Display the sidebar when the "open" class is added */
                    z-index: 8788888;
                }

                /* Style for the close button */

            }
        }






    }



    /* START RIGHT SECTION */
    .right-parent {
        .right {
            margin-top: 1.4rem;
            padding-right: 45px;

            @include lg {
                padding-right: 0;
            }

            .top {
                display: flex;
                justify-content: end;
                gap: 2rem;

                button {
                    display: none;

                    @include laptop {
                        display: block;
                    }
                }
            }

            .users-login {
                display: flex;
                align-items: center;
                gap: 0 10px;

                .cart {
                    img {
                        width: 100%;
                    }

                    i {
                        font-size: 18px;
                        display: none;

                        @include lg {
                            display: block;
                        }
                    }
                }

                .login-button {
                    display: flex;
                    align-items: center;
                    background: #FAFAFA;
                    padding: 5px 20px;
                    border-radius: 80px;
                    gap: 0px;
                    cursor: pointer;

                    .userimg {

                        height: 20px;
                        width: 20px;
                        padding: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 80px;

                        i {
                            font-size: 18px;
                        }
                    }

                    input {
                        background: none;
                        font-size: 18px;
                        font-family: 'Poppins', sans-serif;
                        color: #1A202C;
                        font-weight: 600;
                    }
                }
            }

            // WALET CSS ===============
            .user-wallet {
                padding-top: 40px;

                .title {
                    h1 {
                        font-size: 18px;
                        font-weight: 700;
                        font-family: 'Poppins', sans-serif;

                    }
                }

                .wallet-card {
                    padding-top: 20px;

                    @include lg {
                        width: 100%;
                    }

                    .wallet-icon {
                        display: flex;
                        background: #FF8369;
                        justify-content: space-between;
                        padding: 20px;
                        align-items: center;
                        border-radius: 8px 8px 0 0;

                        .img {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .wallet-detail {
                        padding: 0 20px;
                        background: #323142;
                        border-radius: 0 0 8px 8px;

                        .wallet-number {
                            display: flex;
                            gap: 0 20px;
                            padding-top: 10px;

                            span {
                                font-size: 14px;
                                font-weight: 600;
                                font-family: 'Poppins', sans-serif;


                                color: white;
                            }
                        }

                        .card-holder {
                            display: flex;
                            justify-content: space-between;
                            padding: 30px 0 20px 0;
                            align-items: center;

                            .name {
                                p {
                                    font-size: 14px;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: lighter;
                                    color: whitesmoke;
                                }

                                h1 {
                                    font-size: 18px;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 400;
                                    color: white;
                                }
                            }

                            .debit {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            // CART CSS============================


            .cart-parent {
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 40px;

                    h1 {
                        font-size: 18px;
                        color: #323142;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                    }

                    a {
                        text-decoration: none;

                        input {
                            background: none;
                            border: none;
                            color: #ACADB9;
                            cursor: pointer;
                            font-size: 16px;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                }

                .cards-all-order {
                    .cart-card {
                        display: flex;
                        margin-top: 20px;
                        gap: 0 10px;
                        align-items: center;
                        background: #F2F3F9;
                        padding: 10px;
                        border-radius: 12px;
                        transition: .8s;
                        cursor: pointer;

                        .img {
                            position: relative;

                            img {
                                width: 100%;
                            }

                            .del {
                                img {
                                    width: 30%;
                                    position: absolute;
                                    top: 0;
                                }
                            }
                        }

                        .detail {
                            .name-price {
                                display: flex;
                                justify-content: space-between;
                                gap: 0 20px;

                                h1 {
                                    font-size: 16px;
                                    font-weight: 600;
                                    font-family: 'Poppins', sans-serif;

                                    span {
                                        color: #FF7B5F;
                                        font-size: 14px;
                                    }
                                }
                            }

                            .increment {
                                display: flex;
                                align-items: center;
                                gap: 0 10px;
                                padding: 5px 0;

                                button {
                                    border: none;
                                    background: white;
                                    height: 10px;
                                    width: 10px;
                                    padding: 10px;
                                    border-radius: 80px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;

                                    i {
                                        color: #8E97A6;
                                        font-size: 14px;
                                    }
                                }

                                span {
                                    color: #FF7B5F;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;

                                }
                            }

                            .on-the-way {
                                span {
                                    font-size: 14px;
                                    font-family: 'Poppins', sans-serif;
                                    color: #ACADB9;
                                }

                                p {
                                    font-size: 12px;
                                    color: #323142;
                                    font-family: 'Poppins', sans-serif;
                                    color: #ACADB9;
                                    padding-top: 2px;
                                }
                            }
                        }
                    }

                    .cart-card:hover {
                        background: #ffffff;
                        box-shadow: 0 35px 23px -13px #ededed;
                    }

                    .checkout {
                        padding-top: 20px;

                        input {
                            width: 100%;
                            border: none;
                            cursor: pointer;
                            background: none;
                            text-align: center;
                            background: #FF7B5F;
                            padding: 15px;
                            color: white;
                            border-radius: 25px;
                            font-size: 16px;
                            font-family: 'Poppins', sans-serif;
                            transition: .8s;

                        }
                    }

                    input:hover {
                        background: #ff7a5fdc;
                    }
                }
            }
        }




    }




    /* END SALES ANALYTICS */
    /* END RIGHT SECTION */

    /* START MEDIA QUERIES */
    /* TABLETS AND SMALL LAPTOPS */
    @media screen and (max-width: 1200px) {

        aside .logo h2 {
            display: none;
        }

        aside .sidebar h3 {
            display: none;
        }

        aside .sidebar a {
            width: 5.6rem;
        }

        aside .sidebar a:last-child {
            position: relative;
            margin-top: 1.8rem;
        }

        main .insights {
            grid-template-columns: 1fr;
            gap: 0;
        }

        main .recent-orders {
            width: 94%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 2rem 0 0 8.8rem;
        }

        main .recent-orders table {
            width: 83vw;
        }

        main .recent-orders table thead tr th:first-child,
        main .recent-orders table thead tr th:last-child {
            display: none;
        }

        main .recent-orders table tbody tr td:first-child,
        main .recent-orders table tbody tr td:last-child {
            display: none;
        }
    }

    /* SMALL TABLETS AND MOBILE */
    @media screen and (max-width: 1060px) {
        .container {
            width: 100%;
            grid-template-columns: 1fr;
        }

        aside {
            position: fixed;
            left: -100%;
            background: #1A1A1A;
            width: 18rem;
            z-index: 3;
            box-shadow: 1rem 3rem 4rem var(--color-light);

            padding-right: var(--card-padding);
            display: none;
            animation: showMenu 400ms ease forwards;

        }

        @keyframes showMenu {
            to {
                left: -100%;
            }
        }

        @keyframes showMenu {
            to {
                left: 0;
            }
        }




        aside .logo {
            margin-left: 1rem;
        }

        aside .logo h2 {
            display: inline;
        }

        aside .sidebar h3 {
            display: inline;
        }

        aside .sidebar a {
            width: 100%;
            height: 3.4rem;
        }

        aside .sidebar a:last-child {
            position: absolute;
            bottom: 5rem;
        }

        aside .close {
            display: inline-block;
            cursor: pointer;
        }

        main {
            margin-top: 8rem;
            padding: 0 1rem;
        }

        main .recent-orders {
            position: relative;
            margin: 3rem 0 0 0;
            width: 100%;
        }

        main .recent-orders table {
            width: 100%;
            margin: 0;
        }

        .right {
            width: 94%;
            margin: 0 auto 4rem;
        }

        .right .top {
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            padding: 0 0.8rem;
            height: 4.6rem;
            background: var(--color-white);
            width: 100%;
            margin: 0;
            z-index: 2;
            box-shadow: 0 1rem 1rem var(--color-light);
        }

        .right .top .theme-toggler {
            width: 4.4rem;
            position: absolute;
            left: 66%;
        }

        .right .top .profile .info {
            display: none;
        }

        .right .top button {
            display: inline-block;
            background: transparent;
            cursor: pointer;
            color: var(--color-dark);
            position: absolute;
            left: 1rem;
        }

        .right .top button span {
            font-size: 2rem;
        }
    }

    /* END MEDIA QUERIES */

}




// EXTRA