@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main-parent-signin .parent-signin {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 992px) {
  .main-parent-signin .parent-signin {
    grid-template-columns: 1fr;
    width: 80%;
    padding: 40px 0 0 0;
    margin: auto;
  }
}
.main-parent-signin .parent-signin .fields-parent {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.main-parent-signin .parent-signin .fields-parent .fields .google-apple h1 {
  font-size: 35.25px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 44.063px */
  letter-spacing: -1.41px;
  color: #323142;
  font-family: "Poppins", sans-serif;
}
.main-parent-signin .parent-signin .fields-parent .fields .google-apple .button {
  padding-top: 30px;
  display: flex;
  gap: 0 10px;
}
.main-parent-signin .parent-signin .fields-parent .fields .google-apple .button button {
  width: 185.438px;
  cursor: pointer;
  height: 63px;
  border-radius: 4px;
  flex-shrink: 0;
  border: none;
}
@media only screen and (max-width: 992px) {
  .main-parent-signin .parent-signin .fields-parent .fields .google-apple .button button {
    width: 49%;
  }
}
.main-parent-signin .parent-signin .fields-parent .fields .google-apple .button button i {
  font-size: 28px;
}
.main-parent-signin .parent-signin .fields-parent .fields .or {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.main-parent-signin .parent-signin .fields-parent .fields .or span {
  color: rgba(50, 49, 66, 0.35);
  font-family: "Poppins", sans-serif;
  font-size: 20.011px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .input-email {
  position: relative;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .input-email .envelope {
  position: absolute;
  top: 36%;
  left: 20px;
  transform: translateY(-50%);
  color: #C2C3CB;
  font-size: 18px;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .input-email .hide {
  position: absolute;
  top: 36%;
  right: 25px;
  transform: translateY(-50%);
  color: #C2C3CB;
  cursor: pointer;
  font-size: 18px;
  cursor: pointer;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .input-email input {
  width: 280.441px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F0F0F0;
  border: none;
  color: #C2C3CB;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 0 50px;
  font-family: "Poppins", sans-serif;
  color: #C2C3CB;
}
@media only screen and (max-width: 992px) {
  .main-parent-signin .parent-signin .fields-parent .fields .input-container .input-email input {
    width: 67%;
  }
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .forgot {
  display: flex;
  justify-content: end;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .forgot a {
  text-decoration: none;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .forgot p {
  opacity: 0.7;
  color: var(--p1, #FF7B5F);
  font-family: Poppins;
  font-size: 15.564px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .signin-button button {
  width: 100%;
  height: 63.487px;
  border: none;
  font-family: "Poppins", sans-serif;
  background: 0;
  border-radius: 4px;
  background: var(--p1, #FF7B5F);
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .new-account {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 20px;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .new-account p {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.main-parent-signin .parent-signin .fields-parent .fields .input-container .new-account .signup a {
  color: #FF7B5F;
  font-weight: bolder;
  text-decoration: none;
}
.main-parent-signin .parent-signin .fields-parent .fields .email-input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #C2C3CB;
}
.main-parent-signin .parent-signin .fields-parent .fields .email-input::placeholder {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #C2C3CB;
}
.main-parent-signin .parent-signin .silder {
  position: relative;
}
@media only screen and (max-width: 992px) {
  .main-parent-signin .parent-signin .silder {
    display: none;
  }
}
.main-parent-signin .parent-signin .silder .main-img img {
  width: 100% !important;
  height: 100vh;
}
.main-parent-signin .parent-signin .silder .text {
  position: absolute;
  bottom: 120px;
  width: 80%;
  left: 80px;
  margin: auto;
}
.main-parent-signin .parent-signin .silder .text h1 {
  color: white;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.main-parent-signin .parent-signin .silder .text p {
  color: #FFF;
  text-align: center;
  font-family: "Manrope", sans-serif;
  opacity: 0.7;
}
.main-parent-signin .parent-signin .silder .vector {
  position: absolute;
  bottom: 0;
}
.main-parent-signin .parent-signin .silder .vector img {
  width: 100%;
}
.main-parent-signin .parent-signin .silder .indicator {
  position: absolute;
  bottom: 80px;
  left: 350px;
}
.main-parent-signin .parent-signin .silder .indicator img {
  width: 100%;
}
.main-parent-signin .parent-signin .policy {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: -50px;
}
@media only screen and (max-width: 992px) {
  .main-parent-signin .parent-signin .policy {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    /* margin-top: -50px; */
    padding-top: 30px;
  }
}
.main-parent-signin .parent-signin .policy p {
  color: var(--Greyscale-600, #718096);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.2px;
}/*# sourceMappingURL=signin.css.map */