@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;

}

.parent-signin {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .fields-parent {
        display: flex !important;
        justify-content: center !important;
        align-items: center;

        .fields {
            .google-apple {
                h1 {
                    font-size: 35.25px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 125%;
                    /* 44.063px */
                    letter-spacing: -1.41px;
                    color: #323142;
                    font-family: 'Poppins', sans-serif;
                }

                .button {
                    padding-top: 30px;
                    display: flex;
                    gap: 0 10px;

                    button {
                        width: 105.438px;
                        cursor: pointer;
                        height: 40.37px;
                        border-radius: 10px;
                        flex-shrink: 0;
                        border: none;

                        i {
                            font-size: 18px;
                        }
                    }
                }
            }

            .or {
                display: flex;
                justify-content: center;
                padding: 10px 0;

                span {
                    color: rgba(50, 49, 66, 0.35);

                    font-family: 'Poppins', sans-serif;
                    font-size: 20.011px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                }
            }

            .input-container {

                .input-email {
                    position: relative;

                    .envelope {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        color: #555;
                    }

                    .hide {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        color: #555;
                    }
                }


            }




            .email-input::placeholder {
                padding: 10px 41px;
            }

        }
    }

    .silder {
        position: relative;

        .main-img {
            img {
                width: 100% !important;
                height: 100vh;
            }
        }


        .text {
            position: absolute;
            bottom: 120px;
            width: 80%;
            left: 80px;
            margin: auto;

            h1 {
                color: white;
                text-align: center;
                font-family: 'Manrope', sans-serif;
            }

            p {
                color: #FFF;
                text-align: center;
                font-family: 'Manrope', sans-serif;
                opacity: 0.7
            }

        }

        .vector {
            position: absolute;
            bottom: 0;

            img {
                width: 100%;
            }
        }

        .indicator {
            position: absolute;
            bottom: 80px;
            left: 350px;

            img {
                width: 100%;
            }
        }
    }
}