@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;

}

.main-parent-signup {
    .parent-signin {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .fields-parent {
            display: flex !important;
            justify-content: center !important;
            align-items: center;

            .fields {
                .google-apple {
                    h1 {
                        font-size: 35.25px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 125%;
                        /* 44.063px */
                        letter-spacing: -1.41px;
                        color: #323142;
                        font-family: 'Poppins', sans-serif;
                    }

                    .button {
                        padding-top: 30px;
                        display: flex;
                        gap: 0 10px;

                        button {
                            width: 185.438px;
                            cursor: pointer;
                            height: 63px;
                            border-radius: 4px;
                            flex-shrink: 0;
                            border: none;

                            i {
                                font-size: 28px;
                            }
                        }
                    }
                }

                .or {
                    display: flex;
                    justify-content: center;
                    padding: 20px 0;

                    span {
                        color: rgba(50, 49, 66, 0.35);

                        font-family: 'Poppins', sans-serif;
                        font-size: 20.011px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                    }
                }

                .input-container {

                    .input-email {
                        position: relative;

                        .envelope {
                            position: absolute;
                            top: 36%;
                            left: 20px;
                            transform: translateY(-50%);
                            color: #FF7B5F;
                            font-size: 18px;
                        }
                        .hide {
                            position: absolute;
                            top: 36%;
                            right: 25px;
                            transform: translateY(-50%);
                            color: #FF7B5F;
                            cursor: pointer;
                            font-size: 18px;
                            cursor: pointer;
                        }

                        input {
                            width: 280.441px;
                            height: 63px;
                            flex-shrink: 0;
                            border-radius: 4px;
                            background: none;
                            border: 2px solid #FF7B5F;
                        color: #FF7B5F;
                            outline: none;
                            margin-bottom: 20px;
font-size: 16px;
                            padding: 0 50px;
                            font-family: 'Poppins', sans-serif;

                            color: #C2C3CB;
                        }

                    
                    }

                    .forgot {
                        display: flex;
                        justify-content: end;

                        p {
                            opacity: 0.7;
                            color: var(--p1, #FF7B5F);
                            font-family: Poppins;
                            font-size: 15.564px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            cursor: pointer;

                        }
                    }

                    .signin-button {
                        button {
                            width: 100%;
                            height: 63.487px;
                            border: none;
                            font-family: 'Poppins', sans-serif;
                            background: 0;
                            border-radius: 8px;
                            background: var(--p1, #FF7B5F);
                            color: white;
                            cursor: pointer;
                            margin-top: 20px;
                            font-size: 18px;
                        }
                    }

                    .new-account {
                        display: flex;
                        justify-content: center;
                        gap: 5px;
                        padding-top: 20px;

                        p {
                            font-family: 'Poppins', sans-serif;
                            cursor: pointer;
                        }

                        .signup a {
                            color: #FF7B5F;
                            font-weight:bolder;
                            text-decoration: none;

                        }
                    }
                }




                .email-input::placeholder {

                    font-family: 'Poppins', sans-serif;
                    text-transform: capitalize;
                    color: #FF7B5F;
                }

            }
        }

        .silder {
            position: relative;

            .main-img {
                img {
                    width: 100% !important;
                    height: 100vh;
                }
            }


            .text {
                position: absolute;
                bottom: 120px;
                width: 80%;
                left: 80px;
                margin: auto;

                h1 {
                    color: white;
                    text-align: center;
                    font-family: 'Manrope', sans-serif;
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: 'Manrope', sans-serif;
                    opacity: 0.7
                }

            }

            .vector {
                position: absolute;
                bottom: 0;

                img {
                    width: 100%;
                }
            }

            .indicator {
                position: absolute;
                bottom: 80px;
                left: 350px;

                img {
                    width: 100%;
                }
            }

        }
        
        .policy {
            display: flex;
            justify-content: space-between;
            width: 80%;
           
            margin: auto;
            margin-top: -50px;
            p{
                color: var(--Greyscale-600, #718096);

font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.2px;
            }
        }
    }

}